ul,
li {
  display: inline-block;
}

li {
  list-style: none;
  padding-right: 10px;
}

a {
  background-color: rgb(231, 231, 231);
  border-radius: 50%;
  padding: 10px;
  color: black;
  cursor: pointer;
}

a i.fa-facebook:hover {
  color: cornflowerblue;
}

a i.fa-twitter:hover {
  color: #5bc0de;
}

a i.fa-google-plus:hover {
  color: red;
}

a i.fa-linkedin:hover {
  color: #5bc0de;
}

a i.fa-instagram:hover {
  color: #5bc0de;
}